[user]
    email = ignaferdel@gmail.com
    name = iferdel
[core]
    editor = /home/iferdel/bin/nvimf
    autocrlf = false
    pager = delta
    preloadindex = true
[advice]
    addEmptyPathspec = false
    pushNonFastForward = false
    statusHints = false
[alias]
    st = status
    lg = log --graph --all --abbrev-commit --decorate --format='%C(yellow)%h%C(reset) - %C(cyan)%ar%C(reset) %s %C(green)- %an%C(reset)%C(magenta)%d%C(reset)'
[pull]
    rebase = true
[merge]
    conflictstyle = zdiff3
[init]
    defaultBranch = main
[rerere]
    enabled = true
[help]
    autocorrect = immediate
[diff]
    algorithm = histogram
    renames = copies
    colorMoved = default
[status]
    branch = true
    showStash = true
    showUntrackedFiles = all
[interactive]
    diffFilter = delta --color-only
    singlekey = false
[delta]
    navigate = true
    line-numbers = true
    side-by-side = true
    hyperlinks = true
    syntax-theme = base16
    minus-style = syntax "#2d202a"
    minus-emph-style = syntax "#763842"
    plus-style = syntax "#1a2b32"
    plus-emph-style = syntax "#2b4a3f"
