[core]
	editor = /home/iferdel/bin/nvimf
	autocrlf = false
	pager = delta
[user]
	email = ignaferdel@gmail.com
	name = iferdel
[alias]
	st = status
	lg = log --graph --all --abbrev-commit --decorate --format='%C(yellow)%h%C(reset) - %C(cyan)%ar%C(reset) %s %C(green)- %an%C(reset)%C(magenta)%d%C(reset)'
[pull]
	rebase = true
[merge]
	conflictstyle = zdiff3
[init]
	defaultBranch = main
[rerere]
	enabled = true
[help]
	autocorrect = immediate
[diff]
	algorithm = histogram
